#container {
    display: flex;
    border: 1px solid gray;
    margin: 0 auto;
    position: relative;
    top: 300px;
    box-sizing: border-box;
    overflow: auto;
    width: 25%;
}

#current-sound {
    background-color: grey;
}

.toggle {
    text-align: center;
    background-color: black;
    height: 20px;
    width: 50%;
    font-size: 1px;
    margin-left: 25%;
}

.toggle-button {
    background-color: blue;
    width: 50%;
    height: 100%;
    color: blue;
}

.text-and-toggle {
    text-align: center;
}

#toggle-container {
    border-left: 1px solid grey;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}