#container {
    display: flex;
    border: 10px solid orange;
    margin: 0 auto;
    position: relative;
    top: 300px;
    box-sizing: border-box;
    overflow: auto;
    width: 25%;
    background-color: white;
}

#current-sound {
    background-color: orange;
    width: 100%;
    height: 80%;
    text-align: center;
}

#text {
    position: relative;
    top: 10px;
}

.toggle {
    text-align: center;
    background-color: orange;
    height: 20px;
    width: 50%;
    font-size: 1px;
    margin-left: 25%;
}

.toggle-button {
    background-color: black;
    width: 50%;
    height: 100%;
    color: black;
}

.text-and-toggle {
    text-align: center;
}

#toggle-container {
    border-left: 10px solid orange;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

#range {
    color: brown;
}

@media only screen and (min-width: 250px) and (max-width: 600px) {
    #container {
        width: 100%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1300px) {
    .drum-button {
        width: 45px;
    }
    #container {
        width: 60%;
    }
}