.drum-button {
    border: 2px solid rgb(179, 47, 47);
    background-color: rgb(184, 126, 19);
    height: 10%;
    width: 45px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 5px;
}

.drum-buttons {
    display: flex;
}

#drum-container {
    width: 100%;
}

@media only screen and (min-width: 250px) and (max-width: 600px) {
    .drum-button {
        width: 25px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1300px) {
    .drum-button {
        width: 45px;
    }
}